<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />    
    <link rel="stylesheet" href="~/Content/Mobile.css" media=screen>
</head>
<body>
        @RenderSection("featured", required: false)

    @Scripts.Render("~/bundles/jquerys")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/functionsjs")
    @Scripts.Render("~/bundles/progressbarjs")
    <script src="~/scripts/progressbarFunction.js"></script>
</body>
</html>